<link rel="stylesheet" type="text/css" href="lib/css/cart-style.css">
<!--------------------------------------------------->
<div class="container cart">
    <h2>您的购物车</h2>
    <hr style="height:1px;border:none;border-top:1px dashed #808080;" />
    <div>
        <p> use list</p>
        <hr style="height:1px;border:none;border-top:1px dashed #808080;" />
    </div>

    <div class="tip">
        <p>小计</p>

        <a class="btn btn btn-success" href="#" role="button" target="_blank">购买</a>
        <a class="btn btn btn-primary" href="#" role="button" target="_blank">继续浏览</a>
    </div>
</div>
