@charset "utf-8";
/* CSS Document */
/* 删除浏览器的默认样式 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}

a {
    text-decoration: none;
}
/* 全局控制 */
/*header*/
.nav {
    padding: 15px;
}

.bg {
    width: 40%;
    margin: 0 auto;
    height: 450px;
    ;
}


.Register {
    background-color: #E1E1E1;
    border-radius: 25px 25px 25px 25px;
    padding: 35px 30px;
    opacity: 0.7;
    height: 100%;
}


    .Register input[type="text"] {
        outline: none;
        font-size: 15px;
        font-weight: 500;
        color: #818181;
        padding: 1px 20px;
        background-color: #cacaca;
        border: 1px solid #ccc;
        border-radius: 25px;
        margin: 0px 0px 12px 0px;
        width: 88%;
    }

    .Register input[type="password"] {
        outline: none;
        font-size: 15px;
        font-weight: 500;
        color: #818181;
        padding: 1px 20px;
        background-color: #cacaca;
        border: 1px solid #ccc;
        border-radius: 25px;
        margin: 0px 0px 12px 0px;
        width: 88%;
    }

    .Register label {
        font-size: 18px;
    }

.sex {
    font-size: 18px;
    margin-left: -6.7em;
    margin-top: 0.5em;
}

.Register input[type="radio"] {
    font-size: 18px;
    margin-top: 1em;
}

#register-btn {
    margin-top: 16px;
}

#pact {
    margin-top: 15px;
    margin-left: -20px;
}




/*copyright*/
.copyright {
    margin-top: 2em;
    background: #333;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

    .copyright h4 {
        color: #CCC;
    }

    .copyright ul {
        float: right;
    }
