@model SeachViewModel


<h2>Seach</h2>
<form asp-controller="Seach" asp-action="SeachN">
    <p>
        Title:<input type="text" name="Id" />
        <input type="submit" value="Filter" />
    </p>
</form>


