@using IceBox.Models;
@{ 
    int orderNo = 1;
}
<link rel="stylesheet" type="text/css" href="lib/css/cart-style.css">
<!--------------------------------------------------->
<p>确认您的订单</p>
@{
    foreach (var order in Model.orders)
    {
        
        orderNo++;
    }
}